.d1{
    font-size:25px;
    color:black;
    padding-top:5px;
    text-align:center;
    border:2px solid black;
}

.title1{
    font-size:36px;
    text-align:center;
    margin-top: 5px;
    
}
.title2{
    font-size:30px;
    text-align:center;
    margin-top:15px;
    font-weight:600;
    background-color: #eee;
}
.t{
    background-color: #eee;
   
   
}
